<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-5 text-center">
      <h1 class="display-4">Ops.. algo de errado aconteceu :(</h1>
      <p class="lead">Pedimos desculpas pelo incoveniente. O erro foi informado e será corrigido assim que possível.</p>
      <a class="btn btn-secondary" href="/" role="button">Página inicial</a>
    </div>

    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer') %>

