<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="container">
  <div class="row">
    <div class="col-lg my-3 text-center">
      <h1 class="text-center">Olá <%= user.email %></h1>
      <p class="text-center lead">Você já esta logado. Caso queira criar uma nova conta ou encerrar sua sessão, 
        use um dos botões abaixo</p>
      <small>Caso clique no botão de criar nova conta, sua sessão também será encerrada.</small>
      <hr>

      <div class="row">
        <div class="col-lg"></div>


        <div class="col-lg ">
            <a href="/login/logout" class="btn btn-secondary" role="button" aria-pressed="true">Criar nova conta</a>
          </div>
          
          
        <div class="col-lg ">
          <a href="/login/logout" class="btn btn-secondary" role="button" aria-pressed="true">Encerrar sessão</a>
        </div>

        <div class="col-lg"></div>
      <hr>
    </div>

  </div>
</div>

<%- include('includes/footer') %>

